@use 'vendors';
@use 'vendors-extensions/bootstrap/components/buttons';

$color-green-light: #a0c878;
$color-green-pastel: #ddeb9d;
$color-blue-deep: #497D74;
$color-green: #65c603;
$size-xsmall: 18px;
$space-unit: 22px;
$size-maxwidth: 1100px;
$space-halfunit: 12px;
$space-sixunits: 110px;
$space-twounits: 30px;
$color-primary1-blue80: #a0c878;
$radius8: 12px;
$space-fiveunits: 85px;
$space-fourunits: 75px;
$color-primary1-blue100: #27667b;
$space-threeunits: 55px;
$color-secondary-gray500: #ddeb9d;
$space-oneandhalfunits: 1rem;

@mixin whitewithcolorborderwhite {
	border-color: $color-blue-deep;
	border-width: 2px;
	border-radius: 6px;
	background-color: $color-green;
}

@mixin paddingwithcolorgrayblack {
	color: $color-blue-deep;
	padding: 0.6rem 1.2rem;
}

@mixin baseui {
	html {
		line-height: 1.2;
	}
	body {
		margin: 0;
	}
	* {
		box-sizing: border-box;
		border-width: 0;
		border-style: solid;
	}
	p,
	li,
	ul,
	pre,
	div,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	figure,
	blockquote,
	figcaption {
		margin: 0;
		padding: 0;
	}
	button {
		background-color: transparent;
	}
	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit;
		font-size: 100%;
		line-height: 1.2;
		margin: 0;
	}
	button,
	select {
		text-transform: none;
	}
}

@mixin input {
	margin-top: 25px;
	margin-bottom: 25px;
}

@mixin columncenter {
	align-items: center !important;
	flex-direction: column !important;
}

@mixin hover {
	color: #3d6e70ff !important;
}

@mixin content {
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
}

@mixin fullflex {
	width: 100% !important;
	display: flex !important;
}

@mixin paddingleftandright {
	padding-left: $space-twounits;
	padding-right: $space-twounits;
}

@mixin paddingtopandbottom {
	padding-top: $space-oneandhalfunits;
	padding-bottom: $space-oneandhalfunits;
}

@mixin notfound {
	@include columncenter;
	display: flex;
	justify-content: center;
}

@mixin fullflexwithcentercolumn {
	@include fullflex;
	@include columncenter;
}

@mixin centerfullflex {
	@include fullflex;
	align-items: center;
}

@mixin container {
	@include columncenter;
	justify-content: space-between;
}

.button {
	@include paddingwithcolorgrayblack;
	@include whitewithcolorborderwhite;
	display: inline-block;
}

.input {
	@include paddingwithcolorgrayblack;
	@include whitewithcolorborderwhite;
	cursor: auto;
}

.textarea {
	color: $color-blue-deep;
	cursor: auto;
	padding: 0.5rem;
	@include whitewithcolorborderwhite;
}

.list {
	width: 100%;
	margin: 1em 0px 1em 0px;
	display: block;
	padding: 0px 0px 0px 1.5rem;
	list-style-type: none;
	list-style-position: outside;
}

.list-item {
	display: list-item;
}

.teleport-show {
	display: flex !important;
	transform: none !important;
}

.heading2 {
	font-size: 2.8rem;
}

.heading3 {
	font-size: 1.9rem;
}

.sectionTitle {
	font-size: 1.1rem;
	font-weight: 800;
	letter-spacing: 1.5;
	text-transform: uppercase;
}

.heading1 {
	font-size: 5rem;
	font-weight: 800;
}

.heading4 {
	font-size: 1.4rem;
}

.Content {
	@include content;
	font-size: 18px;
	font-weight: 500;
}

.Heading {
	@include content;
	font-size: 34px;
	font-weight: 800;
}

@media (max-width: 767px) {
	.heading2 {
		font-size: 2rem;
	}

	.heading3 {
		font-size: 1.3rem;
	}

	.heading1 {
		font-size: 3rem;
	}

	.heading4 {
		font-size: 1.3rem;
	}
}
