<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bayu Story</title>
  <meta property="og:title" content="AddPage - Edible Practical Eel" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link rel="icon" href="../public/favicon.ico" />
</head>

<body>
  <link type="text/css" href="../sass/style.scss" />
  <header data-thq="thq-navbar" class="home-navbar-interactive">
    <span class="home-logo">BAYU STORY</span>
    <div data-thq="thq-navbar-nav" class="home-desktop">
      <links-appbar class="home-links"></links-appbar>
      <locale-picker class="dropdown"></locale-picker>
    </div>
    <div data-thq="thq-burger-menu" class="home-burger-menu">
      <i class="bi bi-list"></i>
    </div>
    <div data-thq="thq-mobile-menu" class="home-mobile-menu">
      <div class="home-nav">
        <div class="home-top">
          <span class="home-logo1">BAYU STORY</span>
          <div data-thq="thq-close-menu" class="home-close-menu btn-close">
            <i class="bi bi-x"></i>
          </div>
        </div>
        <nav class="home-links1">
          <a href="/"> <span class="home-nav11">Dashboard</span> </a>
          <a href="add-page.html"> <span class="home-nav21">Add Story</span> </a>
          <locale-picker class="dropdown"></locale-picker>
        </nav>
      </div>

  </header>
  <form-component class="form-input-container"></form-component>
  <footer-component class="home-footer"></footer-component>

  </div>
  <script data-section-id="navbar" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
</body>

</html>